<div class="shadow-lg w-full">
  <div class='table-header items-center py-2 border-b border-b-black text-center'>
    <div class='table-cols name'>姓名</div>
    <div class='table-cols id-card-number'>身分證字號</div>
    <div class='table-cols birth-date'>出生年月日</div>
    <div class='table-cols phone'>電話</div>
    <div class='table-cols email'>電子信箱</div>
    <div class='table-cols address'>地址</div>
    <div class='table-cols actions'></div>
  </div>
  <% members.each do |member| %>
    <div class="even:bg-red-100">
      <%= turbo_frame_tag dom_id(member) do %>
        <%= render(Admin::MemberTableColumnComponent.new(member)) %>
      <% end %>
    </div>
  <% end %>
</div>

<div class='flex justify-center mt-4'>
  <%== pagy_nav(pagy) if pagy.pages > 1 %>
</div>
