<nav class='flex justify-between items-center w-full py-3 px-6 bg-blue-200'>
  <h1 class='text-3xl font-medium tracking-widest'>三芝港口慈航宮</h1>
  <div>
    <% if current_manager %>
      <%= current_manager.name %>
      <%= link_to '登出', destroy_manager_session_path, data: { turbo_method: 'delete' } %>
    <% elsif !request.controller_class.to_s.include?('Devise') %>
      <%= link_to '登入', new_manager_session_path %>
    <% end %>
  </div>
</nav>