<nav class='flex justify-between items-center w-full py-3 px-6 shadow-md'>
  <h1 class='text-3xl font-medium tracking-widest'>三芝港口慈航宮</h1>
  <ul class='flex items-center gap-x-20'>
    <li class='hover:border-2 hover:border-red-400 hover:cursor-pointer'>
      <%= link_to '會員管理', admin_members_path, class: 'px-2 py-1' %>
    </li>
    <li class='px-2 py-1 hover:border-2 hover:border-red-400 hover:cursor-pointer'>信眾管理</li>
    <li class='px-2 py-1 hover:border-2 hover:border-red-400 hover:cursor-pointer'>聖物管理</li>
    <li class='px-2 py-1 hover:border-2 hover:border-red-400 hover:cursor-pointer'>行程管理</li>
  </ul>
  <div>
    <% if current_member %>
      <%= current_member.name %>
      <%= link_to '登出', destroy_member_session_path, data: { turbo_method: 'delete' } %>
    <% elsif !request.controller_class.to_s.include?('Devise') %>
      <%= link_to '登入', new_member_session_path %>
    <% end %>
  </div>
</nav>